<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:rim="http://www.blackberry.com/ns/widgets"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.phonegap.plugins.analytics.GoogleAnalyticsTracker"
    version="0.0.1">

    <name>GoogleAnalyticsTracker</name>
    <description>Google Analytics plugin for Apache Cordova/PhoneGap on AppGyver's Steroids, "forked" from https://github.com/purplecabbage/phonegap-plugins/tree/master/Android/Analytics/2.0</description>
    <license>Apache 2.0</license>
    <keywords>cordova,steroids,google analytics</keywords>

    <!-- android -->
    <platform name="android">

        <js-module src="www/analytics.js" name="Analytics">
            <clobbers target="Analytics" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*/plugins">
            <plugin name="GoogleAnalyticsTracker" value="com.phonegap.plugins.analytics.GoogleAnalyticsTracker" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*/application">
            <activity android:name="com.phonegap.DroidGap" android:label="@string/app_name">
				<intent-filter>
				</intent-filter>
			</activity>
        </config-file>

        <source-file src="src/com/phonegap/plugins/analytics/GoogleAnalyticsTracker.java" target-dir="src/com/phonegap/plugins/analytics" />
		<source-file src="libs/libGoogleAnalytics.jar" target-dir="libs/libGoogleAnalytics" />
		<source-file src="libs/GoogleAdMobAdsSdk-6.4.1.jar" target-dir="libs/libGoogleAnalytics" />

    </platform>

</plugin>
